<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CargarEmpleadoServlet</servlet-name>
        <servlet-class>Servlet.CargarEmpleadoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarDTOServlet</servlet-name>
        <servlet-class>Servlet.ListarDTOServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarReporte1Servlet</servlet-name>
        <servlet-class>Servlet.ListarReporte1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarAreaServlet</servlet-name>
        <servlet-class>Servlet.CargarAreaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaArea2Servlet</servlet-name>
        <servlet-class>Servlet.CargaArea2Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar_DTO_extraServlet</servlet-name>
        <servlet-class>Servlet.Listar_DTO_extraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CargarEmpleadoServlet</servlet-name>
        <url-pattern>/CargarEmpleadoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarDTOServlet</servlet-name>
        <url-pattern>/ListarDTOServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarReporte1Servlet</servlet-name>
        <url-pattern>/ListarReporte1Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarAreaServlet</servlet-name>
        <url-pattern>/CargarAreaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaArea2Servlet</servlet-name>
        <url-pattern>/CargaArea2Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar_DTO_extraServlet</servlet-name>
        <url-pattern>/Listar_DTO_extraServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
